@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body
{
    font-family:'Roboto Condensed';
    font-size:20px;
    padding:4% 20%;
}
p
{
    text-align:justify;
    text-indent:48px;
}
p::first-letter
{
    font-size:24px;
}
figure
{
    text-align:center;
    font-style:italic;
    font-weight:100;
}
ul
{
    list-style:none;
}
a
{
    text-decoration:none;
}
a:hover
{
    font-weight:500;
    background-color:lightgray;
    color:black
}
a:active
{
    color:
}
a:visited
{
    color:black;
}